.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc2{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
.sc1{text-shadow:-0.015em 0 rgb(255,255,255),0 0.015em rgb(255,255,255),0.015em 0 rgb(255,255,255),0 -0.015em  rgb(255,255,255);}
.sc0{text-shadow:-0.015em 0 rgb(128,128,128),0 0.015em rgb(128,128,128),0.015em 0 rgb(128,128,128),0 -0.015em  rgb(128,128,128);}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc2{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
.sc1{-webkit-text-stroke:0.015em rgb(255,255,255);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em rgb(128,128,128);text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:1.215253px;}
._2{width:26.616000px;}
._8{width:44.408000px;}
._4{width:48.856000px;}
._1{width:62.500000px;}
._b{width:64.100000px;}
._5{width:68.100000px;}
._3{width:73.700000px;}
._9{width:79.300000px;}
._a{width:82.100000px;}
._7{width:512.058638px;}
._6{width:552.090455px;}
.fc2{color:rgb(0,176,240);}
.fc3{color:rgb(255,255,255);}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(128,128,128);}
.fs6{font-size:72.000000px;}
.fs9{font-size:74.000000px;}
.fsb{font-size:80.000000px;}
.fsa{font-size:82.000000px;}
.fs7{font-size:96.000000px;}
.fs8{font-size:98.000000px;}
.fs1{font-size:112.000000px;}
.fs4{font-size:114.000000px;}
.fs3{font-size:128.000000px;}
.fs2{font-size:130.000000px;}
.fs0{font-size:144.000000px;}
.fs5{font-size:160.000000px;}
.fsd{font-size:176.000000px;}
.fsc{font-size:264.000000px;}
.y0{bottom:0.000000px;}
.y6f{bottom:12.919884px;}
.yc{bottom:20.387871px;}
.y6c{bottom:21.485619px;}
.y48{bottom:22.832010px;}
.y6e{bottom:34.519882px;}
.y58{bottom:38.945774px;}
.y77{bottom:44.508507px;}
.y71{bottom:45.859726px;}
.y59{bottom:46.396105px;}
.y7e{bottom:49.745148px;}
.y6b{bottom:50.285618px;}
.yb{bottom:53.987871px;}
.y6d{bottom:56.119883px;}
.y4f{bottom:57.199570px;}
.y1e{bottom:57.273430px;}
.y76{bottom:66.108513px;}
.y70{bottom:67.459726px;}
.y2e{bottom:71.431412px;}
.y4d{bottom:73.129648px;}
.y67{bottom:76.934952px;}
.y4e{bottom:78.799570px;}
.y1d{bottom:78.873428px;}
.y45{bottom:84.305149px;}
.y44{bottom:87.558445px;}
.y75{bottom:87.708519px;}
.y39{bottom:91.582443px;}
.y43{bottom:92.591965px;}
.y66{bottom:98.534958px;}
.y1c{bottom:100.473429px;}
.y2d{bottom:105.991440px;}
.y74{bottom:109.308525px;}
.y24{bottom:114.165039px;}
.y65{bottom:120.134964px;}
.y42{bottom:126.191971px;}
.y38{bottom:129.982452px;}
.y73{bottom:130.908524px;}
.y2c{bottom:134.791428px;}
.y21{bottom:135.498758px;}
.y22{bottom:136.230417px;}
.y7d{bottom:137.851578px;}
.y4b{bottom:138.762054px;}
.y64{bottom:146.510239px;}
.y72{bottom:152.508524px;}
.y9{bottom:153.519455px;}
.ya{bottom:154.983047px;}
.y1b{bottom:162.165039px;}
.y18{bottom:162.712540px;}
.y41{bottom:166.511978px;}
.y7c{bottom:166.651581px;}
.y37{bottom:168.382462px;}
.y15{bottom:168.472534px;}
.y2b{bottom:169.351425px;}
.y32{bottom:169.482056px;}
.y12{bottom:170.392548px;}
.y63{bottom:170.510223px;}
.y4a{bottom:172.362061px;}
.y55{bottom:183.061676px;}
.y62{bottom:194.510223px;}
.y7b{bottom:196.362076px;}
.y7{bottom:196.719467px;}
.y2a{bottom:198.151428px;}
.y8{bottom:198.183060px;}
.y40{bottom:200.111984px;}
.y49{bottom:205.962067px;}
.y14{bottom:206.872543px;}
.y11{bottom:208.792557px;}
.y31{bottom:209.802063px;}
.y23{bottom:210.165039px;}
.y36{bottom:214.462479px;}
.y54{bottom:216.711182px;}
.y57{bottom:219.411728px;}
.y61{bottom:223.310226px;}
.y29{bottom:232.711426px;}
.y3f{bottom:233.711990px;}
.y5{bottom:239.919487px;}
.y53{bottom:240.711182px;}
.y6{bottom:241.383072px;}
.y17{bottom:247.192558px;}
.y60{bottom:247.310226px;}
.y30{bottom:250.122063px;}
.y13{bottom:252.042068px;}
.y35{bottom:252.862488px;}
.y10{bottom:254.872559px;}
.y1a{bottom:258.165047px;}
.y28{bottom:261.511421px;}
.y7a{bottom:267.204041px;}
.y52{bottom:270.421669px;}
.y3e{bottom:274.031990px;}
.y5f{bottom:276.110229px;}
.y3{bottom:283.119484px;}
.y4{bottom:284.583069px;}
.y2f{bottom:290.442070px;}
.y34{bottom:291.262489px;}
.yf{bottom:293.272568px;}
.y27{bottom:294.705696px;}
.y56{bottom:298.611725px;}
.y5e{bottom:300.110229px;}
.y51{bottom:304.981667px;}
.y16{bottom:306.165047px;}
.y3d{bottom:307.631996px;}
.y6a{bottom:312.671364px;}
.y79{bottom:320.004036px;}
.y26{bottom:321.991432px;}
.y4c{bottom:323.456583px;}
.y1{bottom:326.319485px;}
.y2{bottom:327.783070px;}
.y5d{bottom:328.910233px;}
.ye{bottom:331.672565px;}
.y50{bottom:333.781666px;}
.y33{bottom:337.342487px;}
.y3c{bottom:341.231997px;}
.y69{bottom:346.271370px;}
.y25{bottom:350.791431px;}
.y5c{bottom:352.910233px;}
.y19{bottom:357.573296px;}
.y47{bottom:366.981560px;}
.y5b{bottom:381.710239px;}
.y20{bottom:386.133804px;}
.y68{bottom:386.591372px;}
.yd{bottom:400.773296px;}
.y3a{bottom:404.662807px;}
.y46{bottom:405.381557px;}
.y5a{bottom:405.710239px;}
.y3b{bottom:407.161968px;}
.y1f{bottom:414.933804px;}
.y78{bottom:418.501804px;}
.hd{height:52.417969px;}
.h9{height:52.488281px;}
.hc{height:53.946289px;}
.hf{height:58.320312px;}
.he{height:59.778320px;}
.ha{height:69.984375px;}
.hb{height:71.442383px;}
.h2{height:81.648438px;}
.h6{height:83.106445px;}
.h7{height:93.187500px;}
.h5{height:93.312500px;}
.h4{height:94.770508px;}
.h1{height:104.835938px;}
.h3{height:104.976562px;}
.h8{height:116.484375px;}
.h11{height:128.304688px;}
.h10{height:192.457031px;}
.h0{height:540.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x33{left:18.993164px;}
.x39{left:25.635742px;}
.x3a{left:27.004715px;}
.x42{left:36.281250px;}
.x14{left:38.344559px;}
.x2e{left:41.656281px;}
.xe{left:43.200012px;}
.x34{left:48.850586px;}
.x3b{left:54.004715px;}
.x25{left:55.929718px;}
.xd{left:58.869171px;}
.x15{left:65.344559px;}
.x1a{left:67.790863px;}
.xf{left:70.200012px;}
.x20{left:74.344574px;}
.x27{left:76.601593px;}
.x11{left:79.200012px;}
.x1d{left:83.703934px;}
.xb{left:85.352539px;}
.x18{left:86.630890px;}
.x30{left:91.942413px;}
.x13{left:93.849640px;}
.x22{left:96.855499px;}
.x16{left:97.883789px;}
.x23{left:100.845734px;}
.x8{left:104.959015px;}
.x7{left:106.422600px;}
.x31{left:107.485847px;}
.x2{left:109.951202px;}
.x1{left:111.414787px;}
.x6{left:116.956085px;}
.x5{left:118.419670px;}
.x1c{left:120.539047px;}
.x1b{left:122.560547px;}
.x41{left:124.204575px;}
.x32{left:125.886703px;}
.x24{left:129.902374px;}
.x3f{left:131.400803px;}
.x40{left:134.711899px;}
.x29{left:136.898468px;}
.x1f{left:138.857452px;}
.x2a{left:140.403168px;}
.x12{left:142.216827px;}
.x2b{left:146.073074px;}
.x3c{left:153.263596px;}
.x2d{left:163.460953px;}
.x38{left:171.039581px;}
.x2c{left:182.142563px;}
.x21{left:184.886749px;}
.x36{left:192.177765px;}
.x17{left:197.938477px;}
.x26{left:204.394562px;}
.x28{left:210.000015px;}
.xa{left:221.018570px;}
.x9{left:222.482162px;}
.x2f{left:223.927750px;}
.x3e{left:228.924240px;}
.xc{left:230.862289px;}
.x3d{left:232.945236px;}
.x47{left:234.416016px;}
.x19{left:235.517593px;}
.x37{left:241.936539px;}
.x10{left:243.958023px;}
.x35{left:247.206528px;}
.x46{left:256.188477px;}
.x45{left:282.179688px;}
.x4{left:286.998047px;}
.x3{left:288.461639px;}
.x48{left:296.460938px;}
.x43{left:367.200012px;}
.x1e{left:378.539856px;}
.x44{left:389.700012px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:1.620337pt;}
._2{width:35.488000pt;}
._8{width:59.210667pt;}
._4{width:65.141333pt;}
._1{width:83.333333pt;}
._b{width:85.466667pt;}
._5{width:90.800000pt;}
._3{width:98.266667pt;}
._9{width:105.733333pt;}
._a{width:109.466667pt;}
._7{width:682.744850pt;}
._6{width:736.120606pt;}
.fs6{font-size:96.000000pt;}
.fs9{font-size:98.666667pt;}
.fsb{font-size:106.666667pt;}
.fsa{font-size:109.333333pt;}
.fs7{font-size:128.000000pt;}
.fs8{font-size:130.666667pt;}
.fs1{font-size:149.333333pt;}
.fs4{font-size:152.000000pt;}
.fs3{font-size:170.666667pt;}
.fs2{font-size:173.333333pt;}
.fs0{font-size:192.000000pt;}
.fs5{font-size:213.333333pt;}
.fsd{font-size:234.666667pt;}
.fsc{font-size:352.000000pt;}
.y0{bottom:0.000000pt;}
.y6f{bottom:17.226512pt;}
.yc{bottom:27.183828pt;}
.y6c{bottom:28.647491pt;}
.y48{bottom:30.442680pt;}
.y6e{bottom:46.026510pt;}
.y58{bottom:51.927699pt;}
.y77{bottom:59.344676pt;}
.y71{bottom:61.146301pt;}
.y59{bottom:61.861473pt;}
.y7e{bottom:66.326864pt;}
.y6b{bottom:67.047490pt;}
.yb{bottom:71.983828pt;}
.y6d{bottom:74.826510pt;}
.y4f{bottom:76.266093pt;}
.y1e{bottom:76.364573pt;}
.y76{bottom:88.144684pt;}
.y70{bottom:89.946302pt;}
.y2e{bottom:95.241882pt;}
.y4d{bottom:97.506198pt;}
.y67{bottom:102.579936pt;}
.y4e{bottom:105.066093pt;}
.y1d{bottom:105.164571pt;}
.y45{bottom:112.406865pt;}
.y44{bottom:116.744593pt;}
.y75{bottom:116.944692pt;}
.y39{bottom:122.109924pt;}
.y43{bottom:123.455953pt;}
.y66{bottom:131.379944pt;}
.y1c{bottom:133.964572pt;}
.y2d{bottom:141.321920pt;}
.y74{bottom:145.744700pt;}
.y24{bottom:152.220052pt;}
.y65{bottom:160.179952pt;}
.y42{bottom:168.255961pt;}
.y38{bottom:173.309937pt;}
.y73{bottom:174.544698pt;}
.y2c{bottom:179.721903pt;}
.y21{bottom:180.665011pt;}
.y22{bottom:181.640556pt;}
.y7d{bottom:183.802104pt;}
.y4b{bottom:185.016073pt;}
.y64{bottom:195.346985pt;}
.y72{bottom:203.344699pt;}
.y9{bottom:204.692607pt;}
.ya{bottom:206.644063pt;}
.y1b{bottom:216.220052pt;}
.y18{bottom:216.950053pt;}
.y41{bottom:222.015971pt;}
.y7c{bottom:222.202108pt;}
.y37{bottom:224.509949pt;}
.y15{bottom:224.630046pt;}
.y2b{bottom:225.801900pt;}
.y32{bottom:225.976074pt;}
.y12{bottom:227.190063pt;}
.y63{bottom:227.346965pt;}
.y4a{bottom:229.816081pt;}
.y55{bottom:244.082235pt;}
.y62{bottom:259.346965pt;}
.y7b{bottom:261.816101pt;}
.y7{bottom:262.292623pt;}
.y2a{bottom:264.201904pt;}
.y8{bottom:264.244080pt;}
.y40{bottom:266.815979pt;}
.y49{bottom:274.616089pt;}
.y14{bottom:275.830058pt;}
.y11{bottom:278.390076pt;}
.y31{bottom:279.736084pt;}
.y23{bottom:280.220052pt;}
.y36{bottom:285.949972pt;}
.y54{bottom:288.948242pt;}
.y57{bottom:292.548971pt;}
.y61{bottom:297.746969pt;}
.y29{bottom:310.281901pt;}
.y3f{bottom:311.615987pt;}
.y5{bottom:319.892649pt;}
.y53{bottom:320.948242pt;}
.y6{bottom:321.844096pt;}
.y17{bottom:329.590078pt;}
.y60{bottom:329.746969pt;}
.y30{bottom:333.496084pt;}
.y13{bottom:336.056091pt;}
.y35{bottom:337.149984pt;}
.y10{bottom:339.830078pt;}
.y1a{bottom:344.220062pt;}
.y28{bottom:348.681895pt;}
.y7a{bottom:356.272054pt;}
.y52{bottom:360.562225pt;}
.y3e{bottom:365.375987pt;}
.y5f{bottom:368.146973pt;}
.y3{bottom:377.492645pt;}
.y4{bottom:379.444092pt;}
.y2f{bottom:387.256093pt;}
.y34{bottom:388.349986pt;}
.yf{bottom:391.030090pt;}
.y27{bottom:392.940928pt;}
.y56{bottom:398.148966pt;}
.y5e{bottom:400.146973pt;}
.y51{bottom:406.642222pt;}
.y16{bottom:408.220062pt;}
.y3d{bottom:410.175995pt;}
.y6a{bottom:416.895152pt;}
.y79{bottom:426.672048pt;}
.y26{bottom:429.321910pt;}
.y4c{bottom:431.275444pt;}
.y1{bottom:435.092646pt;}
.y2{bottom:437.044093pt;}
.y5d{bottom:438.546977pt;}
.ye{bottom:442.230087pt;}
.y50{bottom:445.042221pt;}
.y33{bottom:449.789983pt;}
.y3c{bottom:454.975995pt;}
.y69{bottom:461.695160pt;}
.y25{bottom:467.721909pt;}
.y5c{bottom:470.546977pt;}
.y19{bottom:476.764394pt;}
.y47{bottom:489.308746pt;}
.y5b{bottom:508.946986pt;}
.y20{bottom:514.845072pt;}
.y68{bottom:515.455162pt;}
.yd{bottom:534.364395pt;}
.y3a{bottom:539.550410pt;}
.y46{bottom:540.508743pt;}
.y5a{bottom:540.946986pt;}
.y3b{bottom:542.882624pt;}
.y1f{bottom:553.245071pt;}
.y78{bottom:558.002406pt;}
.hd{height:69.890625pt;}
.h9{height:69.984375pt;}
.hc{height:71.928385pt;}
.hf{height:77.760417pt;}
.he{height:79.704427pt;}
.ha{height:93.312500pt;}
.hb{height:95.256510pt;}
.h2{height:108.864583pt;}
.h6{height:110.808594pt;}
.h7{height:124.250000pt;}
.h5{height:124.416667pt;}
.h4{height:126.360677pt;}
.h1{height:139.781250pt;}
.h3{height:139.968750pt;}
.h8{height:155.312500pt;}
.h11{height:171.072917pt;}
.h10{height:256.609375pt;}
.h0{height:720.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x33{left:25.324219pt;}
.x39{left:34.180990pt;}
.x3a{left:36.006287pt;}
.x42{left:48.375000pt;}
.x14{left:51.126078pt;}
.x2e{left:55.541707pt;}
.xe{left:57.600016pt;}
.x34{left:65.134115pt;}
.x3b{left:72.006287pt;}
.x25{left:74.572957pt;}
.xd{left:78.492228pt;}
.x15{left:87.126078pt;}
.x1a{left:90.387817pt;}
.xf{left:93.600016pt;}
.x20{left:99.126099pt;}
.x27{left:102.135457pt;}
.x11{left:105.600016pt;}
.x1d{left:111.605245pt;}
.xb{left:113.803385pt;}
.x18{left:115.507853pt;}
.x30{left:122.589884pt;}
.x13{left:125.132853pt;}
.x22{left:129.140666pt;}
.x16{left:130.511719pt;}
.x23{left:134.460978pt;}
.x8{left:139.945353pt;}
.x7{left:141.896800pt;}
.x31{left:143.314463pt;}
.x2{left:146.601603pt;}
.x1{left:148.553050pt;}
.x6{left:155.941447pt;}
.x5{left:157.892893pt;}
.x1c{left:160.718730pt;}
.x1b{left:163.414062pt;}
.x41{left:165.606099pt;}
.x32{left:167.848938pt;}
.x24{left:173.203166pt;}
.x3f{left:175.201070pt;}
.x40{left:179.615865pt;}
.x29{left:182.531291pt;}
.x1f{left:185.143270pt;}
.x2a{left:187.204224pt;}
.x12{left:189.622437pt;}
.x2b{left:194.764099pt;}
.x3c{left:204.351461pt;}
.x2d{left:217.947937pt;}
.x38{left:228.052775pt;}
.x2c{left:242.856750pt;}
.x21{left:246.515666pt;}
.x36{left:256.237020pt;}
.x17{left:263.917969pt;}
.x26{left:272.526082pt;}
.x28{left:280.000020pt;}
.xa{left:294.691427pt;}
.x9{left:296.642883pt;}
.x2f{left:298.570333pt;}
.x3e{left:305.232320pt;}
.xc{left:307.816386pt;}
.x3d{left:310.593648pt;}
.x47{left:312.554688pt;}
.x19{left:314.023458pt;}
.x37{left:322.582052pt;}
.x10{left:325.277364pt;}
.x35{left:329.608704pt;}
.x46{left:341.584635pt;}
.x45{left:376.239583pt;}
.x4{left:382.664062pt;}
.x3{left:384.615519pt;}
.x48{left:395.281250pt;}
.x43{left:489.600016pt;}
.x1e{left:504.719808pt;}
.x44{left:519.600016pt;}
}
